<div class="contact-main-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 offset-lg-1 col-md-12 order-1 order-lg-2">
                <div class="contact-page-side-content">
                    <h3 class="contact-page-title">Контакты</h3>
                    <p class="contact-page-message">
                       Uren - это не просто интернет-магазин мотоциклов, это место, где страсть к движению, ветру в волосах и адреналину в крови сочетаются с профессионализмом и заботой о вашем мотоцикле. Мы гордимся тем, что предлагаем не только высококачественные мотоциклы, но и полный спектр услуг и аксессуаров, чтобы ваше мото-путешествие было незабываемым.
                    </p>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-fax"></i> Адрес</h4>
                        <p>Тверская улица, дом 13</p>
                    </div>
                    <div class="single-contact-block">
                        <h4><i class="fa fa-phone"></i> Телефон</h4>
                        <p>8 955 555 35 35</p>
                    </div>
                    <div class="single-contact-block last-child">
                        <h4><i class="fa fa-envelope-o"></i> Почта</h4>
                        <p>yourmail@domain.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>