 <!-- Begin Uren's Shipping Area -->
<div class="uren-shipping_area">
    <div class="container-fluid">
        <div class="shipping-nav">
            <div class="row no-gutters">
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-paperplane-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>Бесплатная доставка</h6>
                            <p>Осуществляется бесплатная доставка в любую часть Москвы и области!</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-help-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>Поддержка 24/7</h6>
                            <p>Наша поддержка поможет в любой момент, по любым вопросам.</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-refresh-empty"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>100% Возврат денег</h6>
                            <p>Если вам что-то не понравилось в течении 30 дней - вернём ваши деньги.</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-undo-outline"></i>
                        </div>
                        <div class="shipping-content">
                            <h6>90 Дней на возврат</h6>
                            <p>Гарантия 90 дней на весь товар.</p>
                        </div>
                    </div>
                </div>
                <div class="shipping-grid">
                    <div class="shipping-item">
                        <div class="shipping-icon">
                            <i class="ion-ios-locked-outline"></i>
                        </div>
                        <div class="shipping-content last-child">
                            <h6>Защищенная покупка</h6>
                            <p>Мы заботимся ваших деньгах в сети интернет.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Shipping Area End Here -->
