<!-- Begin Uren's About Us Area -->
<div class="about-us-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-5">
                <div class="overview-img text-center img-hover_effect">
                    <a  >
                        <img class="img-full" src="~/assets/images/about-us/1.jpg" alt="Uren's About Us Image">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-7 d-flex align-items-center">
                <div class="overview-content">
                    <h2>Приветствуем вас в Uren</h2>
                    <p class="short_desc">
                        В Uren мы стремимся делиться любовью к мотоциклам и мото-стилю, предоставляя клиентам доступ к широкому ассортименту мотоциклов от ведущих мировых производителей. Наша миссия - создание места, где каждый мотоциклист может найти идеальное двухколесное средство, отвечающее его стилю, потребностям и желаниям.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's About Us Area End Here -->
<!-- Begin Uren's Project Countdown Area -->
<div class="project-count-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center">
                    <div class="count-icon">
                        <span class="ion-ios-lightbulb-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">689</h2>
                        <span>Проведено времени за работой</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-count text-center">
                    <div class="count-icon">
                        <span class="ion-happy-outline"></span>
                    </div>
                    <div class="count-title">
                        <h2 class="count">2169</h2>
                        <span>Счастливых покупателей</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Uren's Project Countdown Area End Here -->
<!-- Begin Uren's Team Area -->
<div class="team-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="section_title-2">
                    <h3>Наша команда</h3>
                </div>
            </div>
        </div> <!-- section title end -->
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a >
                            <img src="~/assets/images/about-us/team/1.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Олег</h3>
                        <p>IT - эксперт</p>
                        <a href="#">info@example.com</a>
                       
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a  >
                            <img src="~/assets/images/about-us/team/2.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Мария</h3>
                        <p>Веб - дизайнер</p>
                        <a href="#">info@example.com</a>
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a  >
                            <img src="~/assets/images/about-us/team/3.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Марк</h3>
                        <p>Контент - мейкер</p>
                        <a href="javascript:void(0)">info@example.com</a>
                      
                    </div>
                </div>
            </div> <!-- end single team member -->
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="team-member">
                    <div class="team-thumb img-hover_effect">
                        <a>
                            <img src="~/assets/images/about-us/team/4.jpg" alt="Our Team Member">
                        </a>
                    </div>
                    <div class="team-content text-center">
                        <h3>Эдуард</h3>
                        <p>Маркетолог</p>
                        <a href="#">info@example.com</a>
                        
                    </div>
                </div>
            </div> <!-- end single team member -->
        </div>
    </div>
</div>
<!-- Uren's Team Area End Here -->