<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">


@if(ViewBag.Title != null)
{
    <title>HellsTires</title>
}
else
{
    <title>HellsTires</title>
}
@if (ViewBag.viewport != null)
{
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
}
@if (ViewBag.robots != null)
{
    <meta name="robots" content="noindex, follow" />
}
@if (ViewBag.description != null)
{
    <meta name="description" content="">
}
